## Build artifacts
*.obj
*.sym
*.log
*.tmp
*.bak
*.swp
*.bin
*.map
*.lst
*.lib
*.s19
LIB.TMP

## Archives
*.zip

## Local tooling/output folders
*WDCMON*/
*BSO2*/
SRC/BUILD/

## Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.code-workspace

## Python cache
__pycache__/
*.pyc

